/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Colemak DH Mod";
            bindings = <
                &kp Q     &kp W      &kp F      &kp P      &kp B            &kp J     &kp L      &kp U      &kp Z      &kp SEMI   
                &kp A     &kp S      &kp R      &kp T      &kp G            &kp M     &kp N      &kp E      &kp I      &kp O
                &kp Y     &kp X      &kp C      &kp D      &kp V            &kp K     &kp H      &kp COMMA  &kp DOT    &kp FSLH
                                     &kp BKSP   &bt BT_CLR &kp SPACE     &kp ENTER &bt BT_CLR &kp DEL
            >;
        };
    };
};