/*
 * Copyright (c) 2024 ZMK
 *
 * SPDX-License-Identifier: MIT
 */

#include "kuniboard.dtsi"

&kscan0 {
    gpios
        = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 46)>,
				<NRF_PSEL(SPIM_MOSI, 0, 47)>;
		};
	};
	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 46)>,
				<NRF_PSEL(SPIM_MOSI, 0, 47)>;
			low-power-enable;
		};
	};	
};

nice_view_spi: &spi0 {
    compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 8 GPIO_ACTIVE_HIGH>;

}; 